@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Cookie&family=Pattaya&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #02030e;
}
.welcome-section {
  background-image: url("images/bgimg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ovrerly {
  height: 100vh;
  width: 100%;
  background-color: #02020e;
  opacity: 0.7;
  position: absolute;
}
.welcome {
  border: 5px solid #0785b2;
  box-shadow: 10px 10px 34px 0.3px #0785b2;
  border-radius: 1vw;
  height: 30vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.welcome h1 {
  padding: 40px 40px;
  margin-top: 8%;
  font-size: 4em;
  font-family: "Cookie", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  color: #ff6207;
  display: inline-block;
  margin: 20px;
  width: 21vw;
}

.headers {
  transition: ease-in-out 0.82s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

.social-icon {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  z-index: 1;
  width: 80px;
  cursor: pointer;
}
.social-icon ul {
  position: sticky;
  padding: initial;
}
.social-icon ul li {
  height: 40px;
  width: 40px;
  list-style-type: none;
  padding-left: 12px;
  padding-top: 8px;
  margin-top: 5px;
  color: #fff;
  background: rgb(65, 64, 64);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.social-icon ul li a {
  color: #fff;
  text-decoration: none;
}
.social-icon ul li:hover {
  padding-left: 30px;
  width: 80px;
  transition: 1s;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #ff6207;
}
.fa-brands {
  font-size: 1.5rem;
  padding-top: 4px;
  padding-left: 2px;
}

/* navigation bar */
.navbar {
  top: 800px;
  padding: 10px 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  position: absolute;
  height: 10vh;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: #fff;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 70px;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}
.logo a img{
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 120px;
}
.menuicon{
  display: none;
}
.menuicon i{
  font-size: 2rem;
}
.navbar ul li::after {
  content: "";
  width: 0%;
  border-bottom: 2px solid #ff6207;
  display: block;
  margin-top: -1px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.navbar ul li .active {
  color: #ff6207;
  border-bottom: 2px solid #ff6207;
  /* bottom: 4px; */
  position: relative;
}

/* home content */
.content-home {
  display: flex;
  width: 88vw;
  margin-left: 6%;
  justify-content: space-around;
  position: absolute;
  top: 900px;
}

.name-into {
  width: 60%;
  font-family: sans-serif;
  margin-top: 7%;
  margin-left: 7%;
}
.name-into h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: #ff6207;
}
.name-into h4 {
  color: #ffffff;
  font-size: 2.4em;
}
.name-into p {
  font-size: 1.9em;
  line-height: 1.8em;
  color: rgb(255, 255, 255);
}
.name-into span {
  color: #ff6207;
  display: inline-flex;
  align-items: center;
}
span::after {
  content: "";
  display: inline-block;
  width: 3px;
  background-color: #ff6207;
  margin-left: 4px;
}
h4 span::after {
  height: 35px;
}
.sahrii_1img img {
  width: 40vw;
  height: 80vh;
}



/* Responsive Styles */
@media (max-width:600px) {
  .welcome h1 {
    font-size: 2.5em;
    width: 80vw;
  }

  .social-icon {
    width: 60px;
  }

  .navbar {
    z-index: 1;
    display: block;
    position: fixed;
    margin: 0px 20px 0px 120px;
    padding: 0px 0px;
  }
  .navbar ul {
    position: absolute;
    right:-410px ;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    background-color: rgb(2, 2, 14,0.7);
    border-radius: 10px;
    border: none;
    overflow: hidden;
  }
  .navbar ul:hover, #menuList:hover {
    border: 2px solid rgba(212, 212, 212, 0.7); /* Add border when hovering */
    border-radius: 10px;
  }
  .navbar ul li{
    padding: 20px;
    text-align: center;
  }
  .logo a img{
   display: none;
  }
  .menuicon{
    display: block;
    position: fixed;
    top: 50px;
    left: 500px;
    z-index: 3;
  }
  #menuList{
    position: absolute;
    transition: ease-in-out 0.8s;
    width: 380px;
    top: -700px;
    z-index: 1;
  }

  .content-home {
    flex-direction: column;
    align-items: center;
    /* margin-top: 50px; */
    top: 600px;
  }

  .name-into {
    width: 80%;
    margin-left: 0;
    text-align: center;
  }

  .name-into h1 {
    font-size: 2.5em;
  }

  .name-into h4 {
    font-size: 1.8em;
  }

  .name-into p {
    font-size: 1.5em;
  }

  .sahrii_1img img {
    width: 80vw;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .welcome h1 {
    font-size: 2em;
    width: 90vw;
  }

  .social-icon {
    width: 50px;
  }

  .navbar ul {
    right:-310px ;
  }
  .menuicon{
    left: 400px;
  }
  #menuList{
    width: 350px;
  }
  .name-into {
    width: 90%;
  }

  .name-into h1 {
    font-size: 2em;
  }

  .name-into h4 {
    font-size: 1.5em;
  }

  .name-into p {
    font-size: 1.2em;
  }

  .sahrii_1img img {
    width: 90vw;
  }
}