* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #02030e;
}
.welcome-section {
  /* background-color: #02020E; */
  background-image: url("5506731.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ovrerly {
  height: 100vh;
  width: 100%;
  background-color: #02020e;
  opacity: 0.7;
  position: absolute;
}
.welcome {
  border: 5px solid #0785b2;
  box-shadow: 10px 10px 34px 0.3px #0785b2;
  border-radius: 1vw;
  height: 30vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.welcome h1 {
  padding: 40px 40px;
  margin-top: 8%;
  font-family: sans-serif;
  font-size: 3em;
  /* line-height: 1.5; */
  text-align: center;

  color: #ff7e05;
}
.highlight {
  display: inline-block;
  margin: 20px;
  background-color: #515151;
  border: -5px;
  width: 21vw;
  height: 8vh;
}
.headers {
  transition: ease-in-out 0.82s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  /* z-index: 997; */
  overflow-y: auto;
}
.social-icon {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  z-index: 1;
  width: 80px;
}
.social-icon ul {
  position: sticky;
  padding: initial;
}
.social-icon ul li {
  height: 40px;
  width: 40px;
  list-style-type: none;
  padding-left: 12px;
  padding-top: 8px;
  margin-top: 5px;
  color: #fff;
  background: rgb(65, 64, 64);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.social-icon ul li a {
  color: #fff;
  text-decoration: none;
}
.social-icon ul li:hover {
  padding-left: 30px;
  width: 80px;
  transition: 1s;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #ff6207;
}
.fa-brands {
  font-size: 1.5rem;
  padding-top: 4px;
  padding-left: 2px;
}
.navbar {
  position: absolute;
  top: 800px;
  padding-left: 30vh;
  /* padding-right: 40vh; */
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  padding: 0% 4%;
  /* padding: 5px 12px; */
}
.navbar ul li a {
  text-decoration: none;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 5px 12px;
}
.logo a img {
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  position: relative;
  height: 7vh;
  color: #ff6207;
}
.navbar ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar ul li:hover::after,
.navbar ul li a.active::after {
  width: 100%;
}
.content-home {
  display: flex;
  width: 88vw;
  margin-left: 6%;
  /* align-items: center;  */
  justify-content: space-around;
  position: absolute;
  top: 900px;
}
.name-into {
  /* background-color: #0785b2; */
  width: 60%;
  font-family: sans-serif;
  margin-top: 7%;
  margin-left: 7%;
}
.name-into h1 {
  font-size: 4.0em;
  text-transform: uppercase;
  color: #cc6504;
}
.name-into h4 {
  color: #ffffff;
  font-size: 2.4em;
}

.name-into p {
  font-size: 1.9em;
  line-height: 1.8em;
  color: rgb(255, 255, 255);
}
.name-into span {
  color: #cc6504;
  display: inline-flex;
  align-items: center;
}
span::after {
  content: "";
  display: inline-block;
  width: 3px;
  background-color: #cc6504;
  margin-left: 4px;
}
h4 span::after {
  height: 35px;
}

.sahrii_1img {
  /* width: 30%; */
  /* background-color: aqua; */
}
.sahrii_1img img {
  width: 40vw;
  height: 80vh;
}
